@use '../../assets/_main' as *;

.main.about {
  margin-bottom: 30px;
}

.collapse-about {
  @include column-between-center;
  width: 100%;
  gap: 35px;
  flex: 1;
  @media (max-width: 576px) {
    gap: 22px;
  }
}
