@use '../../assets/_main' as *;
$grey: rgba(227, 227, 227, 1);

.rate {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  i {
    color: $main-color;
    font-size: 24px;
    line-height: 1;
  }
}

.grey {
  // Force l'affichage de l'étoile en gris si la classe est ajoutée à <i className= 'fa-star...
  color: $grey !important;
}

@media (max-width: 992px) {
  .rate {
    gap: 4px;
    i{
      font-size: 1.25em;
    }
  }
}

@media (max-width: 576px) {
  .rate {
    order: -1;
    i{
      font-size: 13px;
    }
  }
}