@use '../../assets/_main' as *;
$bg-gallery: rgba(246,246,246,1);

.gallery {
  background-color: $bg-gallery;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 15px;
  }
}

@media (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
    padding: 0;
    background-color: white;
    gap: 15px;
  }
}
