@use '../../assets/_main' as *;

.carrousel {
  height: 45vh;
}

.detail-rental {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__tit-loc-tag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    &__title {
      color: $main-color;
      font-size: 36px;
    }
    &__loc {
      font-size: 18px;
    }
    &__tag {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin: 25px 0 25px 0;
    }
  }
}

.contain-host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.collapse-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    gap: 30px;
    width: 100%;
}

@media (max-width: 700px) {
  .detail {
    flex-direction: column;
  }
  .contain-host {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:  15px;
  }
  .collapse-detail {
    flex-direction: column;
  }

}