@use '../../assets/_main' as *;

.loading {
  font-size: 80px;
  color: $main-color;
  text-align: center;
}

.carrousel {
  height: 45vh;
}

.detail-rental {
  @include column-center-center;
  width: 100%;
}

.detail {
  @include row-beetween;
  align-items: stretch;
  margin: 30px 0;
  width: 100%;

  &__tit-loc-tag {
    @include column-center;
    align-items: flex-start;
    gap: 8px;

    &__title {
      color: $main-color;
      font-size: 36px;
    }

    &__loc {
      font-size: 18px;
      font-weight: 500;
    }

    &__tag {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
  }

  &__contain-host {
    @include column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.collapse-detail {
  @include row-center-center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .detail {
    @include column-center-center;

    &__tit-loc-tag {
      gap: 8px;

      &__title {
        font-size: 18px;
      }

      &__loc {
        font-size: 14px;
      }

      &__tag {
        font-size: 10px;
      }
    }

    &__contain-host {
      @include row-between-center;
      margin-top: 15px;
    }
  }

  .collapse-detail {
    @include column-center-center;
    gap: 20px;
  }
}