.logo-foot {
  padding-bottom: 25px;
}

.logo-foot img.capital-foot {
  height: 36px;
  padding: 0 5px 5px 0;
}

.logo-foot img.home-foot {
  height: 30px;
  padding-bottom: 3px;
  padding-right: 5px;
}

.logo-foot img.others-foot {
  padding: 0 7px 5px 0;
  height: 28px;
}

@media (max-width: 700px) {
  .logo-foot {
    padding-bottom: 8px;
  }
}
