@use '../../assets/_main' as *;

.host {
  display: flex;
  flex-direction: row;
  gap: 15px;

  &__name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $main-color;
    font-size: 18px;
    max-width: 100px;
    text-align: right;
  }

  &__img {
    border-radius: 60px;
    height: 64px;
  }
}

@media (max-width: 700px) {
  .host {
    gap: 10px;
    &__name {
      font-size: 12px;
      max-width: 80px;
    }
    &__img {
      height: 32px;
    }
  }
}