@use '../../assets/_main' as *;

$coll-content: #fafafa;

.collapse-container {
  @include column-center-center;
  width: 100%;
  overflow: hidden;

  &__head {
    @include row-between-center;
    padding: 7px 15px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-weight: 700;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden; 
  }

  &__head i {
    cursor: pointer;
  }
}

.collapsible {
  @include column-center;
  width: 100%;
  z-index: -2;
  

  &.collaps-opening {
    max-height: 305px;
    transition: max-height 0.8s cubic-bezier(.51,0,.41,.99);
    .content {
      transform: translateY(0); // Fait apparaître le contenu en descendant
    }
  }
  &.collaps-closing {
    transition: max-height .6s cubic-bezier(.99,.23,.11,.62);
    max-height: 0;
    .content {
      transform: translateY(-100%); // Fait disparaître le contenu en montant
    }
  }

  .content {
    @include column;
    flex-grow: 1;
    z-index: -1;
    padding: 18px;
    font-size: 18px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $coll-content;
    line-height: 1.5em;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(-100%); // Par défaut, le contenu est hors du conteneur vers le haut
    transition: transform 0.6s ease-in-out; 

    p {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      text-align: justify;
    }
  }
}

.openI {
  transform: rotate(-180deg);
  transition: all ease-in-out 0.5s; 
}

.closeI {
  transform: rotate(0);
  transition: all ease-in-out 0.5s;
}
  
@media (max-width: 700px) {
  .collapsible {
    .content {
        font-size: 13px;
    }
  }
  .collapse-container {
  
    &__head {
      font-size: 13px;
    }
  }
}