.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  max-height: 90px;
  padding: 20px 45px 20px 45px;
}

.head h1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #ff6060;
}

.head nav {
  font-size: 24px;
}

.head nav ul {
  display: flex;
  gap: 57px;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .head nav ul {
    gap: 25px;
  }
}

.head nav ul li {
  display: inline;
  text-align: right;
}

.head nav ul li a {
  color: black;
  text-decoration: none;
}

.head nav ul li.active a {
  border-bottom: 1px solid black;
}

@media (max-width: 700px) {
  .head {
    padding: 0 10px 0 10px;
  }
  .head nav {
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 5px;
  }
  .head ul {
    gap: 25px;
  }
}
