@use '../../assets/main' as *;

$footerColor: white;

.footer {
  @include column-center-center;
  max-width: 1440px;
  color: $footerColor;
  font-size: 24px;
  gap: 15px;
  padding: 25px 0;

  .logo img.home {
    padding-bottom: 2px;
  }

  p {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .footer {
    font-size: 12px;
    gap: 0;

    p {
      text-align: center;
      padding: 0 28vw;
    }
  }
}