@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$main-color: rgba(255, 96, 96, 1);

*{margin:0}

header, main {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 15px 45px;
  box-sizing: border-box;
}

header {
  justify-content: space-between;
  align-items: center;
  max-height: 90px;
  margin-top: 25px 0;
}

main {
  margin: 0 auto;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  min-height: 209px;
}

@media (max-width: 700px) {
  header, main {
    padding: 5px 15px;
  }
  header {
    height: auto;
  }
}