@use '../../assets/_main' as *;

.ban {
  width: 100%;
  position: relative;
  font-size: 48px;
  font-weight: 700;
  height: 223px;

  &__image {
    @include cover-center-100-100;
    border-radius: 25px;
  }

  &__background {
    @include row-center-center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    border-radius: 25px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 992px) {
  .ban {
    font-size: 2.5em;
    height: 4em;

    &__background {
      justify-content: flex-start;
      padding: 0 45px 0 15px;
      text-align: left;
    }
  }
}

@media (max-width: 576px) {
  .ban {
    font-size: 24px;
    height: 111px;
  }
}