.ban {
  width: 100%;
  position: relative;
  font-size: 48px;
  font-weight: 700;
  height: 223px;

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 700px) {
  .ban {
    font-size: 24px;
    height: 111px;

    &__background {
      justify-content: flex-start;
      padding: 0 45px 0 15px;
      text-align: left;
    }
  }
}