@use '../../assets/main' as *;

.car {
  @include row-center-center;
  position: relative;
  flex: 1;
  width: 100%;
  overflow: hidden;

  img {
    @include cover-center-100-100;
    border-radius: 25px;
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 2.5em;
    img {
      width: 100%;
    }
  }

  &__prev {
    left: 2em;
  }

  &__next {
    right: 2em;
  }
  &__count {
    color: white;
    font-size: 2em;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 2em;
    z-index: 10;
  }
}

@media (max-width: 992px) {
  .car {
    height: 40vh;
    &__prev, &__next {
      width: 2em;
    }
    &__prev {
      left: 1.5em;
    }
    &__next {
      right: 1.5em;
    }
    &__count {
      font-size: 1.5em;
      font-weight: 500;
      bottom: 8%;
    }
  }
}

@media (max-width: 576px) {
  .car {
    height: 40vh;
    max-height: 225px;
    &__prev, &__next {
      position: absolute;
      width: 12px;
    }
    &__prev {
      left: 7px;
    }
    &__next {
      right: 7px;
    }
    &__count {
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      bottom: 8%;
    }
  }
}