.car {
  display: flex;
  flex: 1 1 auto;
  position: relative;

  &__pict {
    height: 100%;
    width: auto;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      object-position: center;
      border-radius: 25px;
      overflow: hidden;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 3em;

  }

  &__prev {
    left: 3em;
  }

  &__next {
    right: 3em;
  }
  &__count {
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 2em;
    left: 50%;
    z-index: 10;
  }
}

@media (max-width: 700px) {
  .car {
    &__prev, &__next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); 
      width: 12px
    }
    &__prev {
      left: 7px;
    }
    &__next {
      right: 7px;
    }
    &__count {
      font-size: 14px;
      font-weight: 500;
      position: absolute;
    }
  }
}